.content {
  width: 100%;
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  &Box {
    width: 60%;
    padding: 50px;
    background: rgba(218, 218, 218, 0.3);
    &Text {

    }
  }
}
